<!-- <div class="col-sm-2 col-sm-offset-10" id="navigation-bar">
	<nav>
	    <a href="/students">Students Index</a>
	    <br>
	    <a href="/students/new">Add New Student</a>
	</nav>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/students">Richmond Secondary School</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/students">Students Index</a></li>
      <li><a href="/students/new">Add New Student</a></li>
    </ul>
  </div>
</nav>