* {
  font-family: 'Verdana', sans-serif;
  font-size:10;
}

a {
    color: #00ffff;
}

#student-data {
	color: white;
	background-color: black;
	border: solid grey;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	width: 30%;
	text-align: center;
	border-radius: 10px;
}

#index-header {
	text-align: center;
	border: solid grey;
	background: black;
    color: #00ffff;
	border-radius: 20px;
}

.navbar-default {
    background-color: black;
    border-color: transparent;
}

html {
	background-color:var(--background-color);
}

img {
	width:var(--image-width);
}

body {
	background: url(../images/school_room.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}