* {
  font-family: 'Verdana', sans-serif;
  font-size:10;
}

a {
    color: #00ffff;
}

#student-data {
	color: white;
	background-color: black;
	border: solid grey;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	width: 30%;
	text-align: center;
	border-radius: 10px;
}

#index-header {
	text-align: center;
	border: solid grey;
	background: black;
    color: #00ffff;
	border-radius: 20px;
}

.navbar-default {
    background-color: black;
    border-color: transparent;
}

#form {
	text-align: center;
	border: solid grey;
	background: black;
    color: #00ffff;
	border-radius: 20px;
	margin-top: 10px;
	padding-top: 10px;
}

button, input {
	color: black;
	border: none;
	cursor: pointer;
	text-align: left;
	margin-bottom: 10px;
	background: grey;
}

#title-new-student, #title-edit-student, #title-show-student{
	text-align: center;
	border: solid grey;
	background: black;
    color: #00ffff;
	border-radius: 20px;
}

.submit-button input[type="submit"]{
	background: white;
	color: black;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 10px;
}

::placeholder {
	color: #CDC5BF;
}

body {
	background: url(../images/school_room.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}



